<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Adem Ayem</title>
    <link rel="stylesheet" href="../components/style.css">
    <link rel="stylesheet" href="../components/button.css">
    <link rel="stylesheet" href="../components/table.css">
    <link rel="stylesheet" href="../components/form.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet'/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../assets/images/image 2.png" alt="Logo Kiri" class="logo-left">
            <img src="../assets/images/logo_ademayem_landscape.png" alt="Logo Kanan" class="logo-right">
        </div>
        <ul>
            <li><a href="../pages/dashboard.html"><img src="../assets/images/dashboard.svg" class="icon">Dashboard</a></li>
            <li><strong>Makanan</strong></li>
            <li><a href="../pages/stokmakanan.html"><img src="../assets/images/stok-makanan.svg" class="icon">Stok Makanan</a></li>
            <li><a href="../pages/stok-bahan-makanan.html"><img src="../assets/images/stok-bahan-makanan.svg" class="icon">Stok Bahan Makanan</a></li>
            <li><strong>Pegawai</strong></li>
            <li><a href="../pages/daftar-pegawai.html"><img src="../assets/images/daftar-pegawai.svg" class="icon">Daftar Pegawai</a></li>
            <li><a href="../pages/absensi-pegawai.html"><img src="../assets/images/absensi-pegawai.svg" class="icon">Absensi Pegawai</a></li>
            <li><a href="../pages/gaji-pegawai.html"><img src="../assets/images/gaji-pegawai.svg" class="icon">Gaji Pegawai</a></li>
            <li style="background-color: #FDC6C5; padding: 10px; border-radius: 8px;">
                <a href="../pages/cuti-pegawai-admin.html" style="color: #DD3B38; text-decoration: none; font-weight: bold;">
                    <img src="../assets/images/cuti-pegawai-red.svg" class="icon" alt="Dashboard Icon" style="margin-right: 10px;">
                    Cuti Pegawai
                </a>
            </li>             
            <li><strong>Transaksi</strong></li>
            <li><a href="../pages/laporan-pendapatan-harian.html"><img src="../assets/images/laporan-pendapatan-harian.svg" class="icon">Laporan Keuangan</a></li>
            <li><a href="../pages/tagihan.html"><img src="../assets/images/tagihan.png" class="icon">Tagihan</a></li>
            <li><a href="../pages/invoices.html"><img src="../assets/images/invoices.svg" class="icon">Invoices</a></li>
        </ul>

        <div class="user-profile">
            <img src="../assets/images/fotoprofil.png" alt="Foto Profil" class="profile-pic">
            <div class="user-info">
                <p class="user-name">Nama User</p>
                <p class="user-role">Role User</p>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-titles">
                <h2>
                    <a href="stok-makanan-link">Cuti Pegawai </a>>Ajukan Cuti Pegawai
                </h2>
            </div>            
            <div class="header-buttons">
            </div>
        </header>

        <div class="dashboard-container"></div>
            <form action="/submit" method="POST" enctype="multipart/form-data" class="food-form">
                <div class="form-group">
                    <label for="pegawaiName">Nama Pegawai</label>
                    <input type="text" id="pegawaiName" name="pegawaiName" placeholder="Masukkan Nama Pegawai" required>
                </div>
            
                <div class="form-group">
                    <label for="tanggalCutiMulaiPegawai">Tanggal Mulai Cuti</label>
                    <input type="date" id="tanggalCutiMulaiPegawai" name="tanggalCutiMulaiPegawai" required>
                </div>
                
                <div class="form-group">
                    <label for="tanggalCutiAkhirPegawai">Tanggal Akhir Cuti</label>
                    <input type="date" id="tanggalCutiAkhirPegawai" name="tanggalCutiAkhirPegawai" required>
                </div>
                

                <div class="form-group">
                    <label for="jumlahHariCuti">Jumlah Hari</label>
                    <input type="text" id="jumlahHariCuti" name="jumlahHariCuti" placeholder="Masukkan Jumlah Hari" required>
                </div>

                <div class="form-group">
                    <label for="keperluanCutiPegawai">Keperluan</label>
                    <input type="text" id="keperluanCutiPegawai" name="keperluanCutiPegawai" placeholder="Masukkan Keperluan Cuti Pegawai" required>
                </div>

                <div class="form-group">
                    <label for="keteranganCutiPegawai">Keterangan</label>
                    <input type="text" id="keteranganCutiPegawai" name="keteranganCutiPegawai" placeholder="keteranganCutiPegawai" required>
                </div>
                 
                <div class="form-group">
                    <label for="sisaCutiPegawai">Sisa Cuti Bulan Ini</label>
                    <h1>3</h1>
                </div>

                <div class="form-group button-container">
                    <button type="submit" class="btn btn-secondary">Batalkan</button>
                    <button type="submit" class="btn btn-primary">Ajukan</button>
                </div>
            </form>
        </div>
    </div>

    <script src="../script.js"></script>
    <script src="../table.js"></script>
</body>
</html>
