<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Adem Ayem</title>
    <link rel="stylesheet" href="../components/style.css">   
    <link rel="stylesheet" href="../components/button.css">   
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet'/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../assets/images/image 2.png" alt="Logo Kiri" class="logo-left">
            <img src="../assets/images/logo_ademayem_landscape.png" alt="Logo Kanan" class="logo-right">
        </div>
        <ul>
            <li style="background-color: #FDC6C5; padding: 10px; border-radius: 8px;">
                <a href="../pages/dashboard.html" style="color: #DD3B38; text-decoration: none; font-weight: bold;">
                    <img src="../assets/images/dashboard.svg" class="icon" alt="Dashboard Icon" style="margin-right: 10px;">
                    Dashboard
                </a>
            </li>            <li><strong>Makanan</strong></li>
            <li><a href="../pages/stokmakanan.html"><img src="../assets/images/stok-makanan.svg" class="icon">Stok Makanan</a></li>
            <li><a href="../pages/stok-bahan-makanan.html"><img src="../assets/images/stok-bahan-makanan.svg" class="icon">Stok Bahan Makanan</a></li>
            <li><strong>Pegawai</strong></li>
            <li><a href="../pages/daftar-pegawai.html"><img src="../assets/images/daftar-pegawai.svg" class="icon">Daftar Pegawai</a></li>
            <li><a href="../pages/absensi-pegawai.html"><img src="../assets/images/absensi-pegawai.svg" class="icon">Absensi Pegawai</a></li>
            <li><a href="../pages/gaji-pegawai.html"><img src="../assets/images/gaji-pegawai.svg" class="icon">Gaji Pegawai</a></li>
            <li><a href="../pages/cuti-pegawai-admin.html"><img src="../assets/images/cuti-pegawai.svg" class="icon">Cuti Pegawai</a></li>
            <li><strong>Transaksi</strong></li>
            <li><a href="../pages/laporan-pendapatan-harian.html"><img src="../assets/images/laporan-pendapatan-harian.svg" class="icon">Laporan Keuangan</a></li>
            <li><a href="../pages/tagihan.html"><img src="../assets/images/tagihan.png" class="icon">Tagihan</a></li>
            <li><a href="../pages/invoices.html"><img src="../assets/images/invoices.svg" class="icon">Invoices</a></li>
        </ul>

        <div class="user-profile">
            <img src="../assets/images/fotoprofil.png" alt="Foto Profil" class="profile-pic">
            <div class="user-info">
                <p class="user-name">Nama User</p>
                <p class="user-role">Role User</p>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-titles">
                <h1>Hello, Adem Ayem 👋</h1>
                <h2>Here’s what's going on today</h2>
            </div>
            <div class="header-buttons">
                <button class="header-btn">
                    <img src="../assets/images/Search.svg" alt="Search" class="icon">
                </button>
                <button class="header-btn">
                    <img src="../assets/images/Help.svg" alt="Informasi" class="icon">
                </button>
                <button class="header-btn">
                    <img src="../assets/images/Notification.svg" alt="Notifikasi" class="icon">
                </button>
            </div>
        </header>
        
        <div class="dashboard-container">
            <div class="tables-container">
                <div class="section-container">
                    <h2>Stok Makanan</h2>
                    <div class="stok-makanan table">
                        <div class="table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Gambar</th>
                                        <th>Produk</th>
                                        <th>Status</th>
                                        <th>Persediaan</th>
                                        <th>Kategori</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="/Users/olva/Documents/ademayem/assets/images/sotoayam.png" alt="Gambar Soto Ayam"></td>
                                        <td>Soto Ayam</td>
                                        <td>Tersedia</td>
                                        <td>3 dari 5 Stok</td>
                                        <td>Makanan Berat</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/Users/olva/Documents/ademayem/assets/images/sotoayam.png" alt="Gambar Soto Ayam"></td>
                                        <td>Soto Ayam</td>
                                        <td>Tersedia</td>
                                        <td>3 dari 5 Stok</td>
                                        <td>Makanan Berat</td>
                                    </tr>
                                    <tr></tr>
                                        <td><img src="/Users/olva/Documents/ademayem/assets/images/sotoayam.png" alt="Gambar Soto Ayam"></td>
                                        <td>Soto Ayam</td>
                                        <td>Tersedia</td>
                                        <td>3 dari 5 Stok</td>
                                        <td>Makanan Berat</td>
                                    </tr>
                                    <tr></tr>
                                        <td><img src="/Users/olva/Documents/ademayem/assets/images/sotoayam.png" alt="Gambar Soto Ayam"></td>
                                        <td>Soto Ayam</td>
                                        <td>Tersedia</td>
                                        <td>3 dari 5 Stok</td>
                                        <td>Makanan Berat</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                <div class="section-container calendar-pegawai">
                    <h2>Cuti Pegawai</h2>
                    <div class="calendar table">
                        <div class="calendar-controls">
                            <h2 id="month-name"></h2>
                            <select id="month-select"></select>
                            <select id="year-select"></select>
                        </div>
                        <div class="calendar-grid" id="calendar"></div>
                    </div>
                </div>
            </div>

            <div class="tables-container">
                <div class="section-container">
                    <h2>Laporan Pendapatan Bulanan</h2>
                    <div class="laporanpendapatanbulanan">
                        <canvas id="grafikPendapatanBulanan"></canvas>
                    </div>
                </div>
                
                <script src="../grafik.js"></script>
    
                <div class="section-container">
                    <h2>Ringkasan</h2>
                    <div class="ringkasan-content">
                        <div class="ringkasan-row">
                            <span class="ringkasan-label">Total Transaksi</span>
                            <span class="ringkasan-value">1510</span>
                        </div>
                        <div class="ringkasan-row">
                            <span class="ringkasan-label">Transaksi Terbesar</span>
                            <span class="ringkasan-value">Rp. 5.000.000</span>
                        </div>
                        <div class="ringkasan-row">
                            <span class="ringkasan-label">Rata-Rata Transaksi</span>
                            <span class="ringkasan-value">Rp. 1.580.000</span>
                        </div>
                        <div class="ringkasan-row">
                            <span class="ringkasan-label">Total Pemasukan</span>
                            <span class="ringkasan-value">Rp. 256.000.000</span>
                        </div>
                        <div class="ringkasan-row">
                            <span class="ringkasan-label">Total Pengeluaran</span>
                            <span class="ringkasan-value">Rp. 50.000.000</span>
                        </div>
                        <hr class="garis-dash">
                        <button class="unduh-ringkasan-btn">Unduh Ringkasan</button>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js'></script>

    <script src="../script.js"></script>
</body>
</html>